@keyframes fadeInAndScale {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.buy-text {
  font-size: 1rem;
  background-color: transparent;
  color: #a4aabb;
  font-weight: bold;
  animation-name: fadeInAndScale;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}
.btn-buy {
  animation-name: fadeInAndScale;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}
@media (max-width: 360px) {
  .buy-text {
    font-size: 0.9rem;
  }
}
