.coins-container {
  min-height: 80px;
  max-height: 240px;
  overflow: scroll;
  border: solid 0.5px gray;
  overflow-x: hidden;
  margin-bottom: 20px;
  width: 320px;
  position: absolute;
  z-index: 1;
  /* To make all text unselectable */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
  -webkit-tap-highlight-color: transparent; /*android chrome*/
}
.donation-list {
  width: 17rem;
  height: 11.25rem;
  margin-top: 0.15rem;
  position: relative;
}

.donation-list::-webkit-scrollbar-thumb {
  background: #77699e;
}

.coins-container::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(51, 53, 85);
}
::-webkit-scrollbar-thumb {
  background: #7717f3;
}
p {
  text-align: center;
  color: white;
}
h1 {
  color: white;
}
.icon-div {
  position: sticky;
  bottom: 0;
  text-align: center;
  opacity: 50%;
  color: white;
}

@media (max-width: 800px) {
  .coins-container {
    width: 250px;
  }
}
