@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
h1 {
  font-size: 1.25rem;
  color: #e0e1e3;
}

.donation-box > h3 {
  margin-top: 0.5rem;
  color: #e0e1e3;
  background: transparent;
  font-weight: lighter;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.donation-box > h2 {
  background-color: transparent;
  font-size: 1rem;
  color: #e0e1e3;
}
.donation-page-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.donation-container {
  margin: 0.5rem;
  height: 100%;
  width: 100%;
  max-width: 750px;
  max-height: 1080px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#6e5b91 0%, #3b344e 67.77%, #292636 100%);
  border: 1px solid rgba(211, 194, 233, 0.123);
  border-radius: 20px;
  /* to make border look the same all around */
  background-origin: border-box;
}
header {
  margin: 0.5rem;
  text-align: center;
  background-color: transparent;
}
.donation-title {
  background-color: transparent;
  margin-bottom: 0.25rem;
}
.donation-description {
  color: #bcb6c9;
  font-size: 0.8rem;
  background-color: transparent;
}
.nav-donation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 100%;
}
.nav-donation > li {
  display: inline;
  background-color: #897ab1;
  color: #bcb6c9;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
  padding: 0.25rem 0 0.25rem 0;
  border-right: 1px solid rgba(0, 0, 0, 0.158);
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-donation > .send {
  border: none;
}
.nav-donation > .current-nav {
  background-color: #36324b;
}
.donation-box {
  position: absolute;
  top: 1rem;
  width: 97%;
  background: rgba(30, 31, 44, 0.68);
  border: 1px solid rgba(94, 86, 145, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.box-method {
  height: 6rem;
  position: relative;
}

.method-form {
  margin-top: 0.5rem;
}
.method-form > select {
  color: white;
  width: 10rem;
  height: 1.5rem;
  overflow: hidden;
  border-radius: 5px;
  background-color: #484063;
  outline: none;
}
.coinlist-donation {
  width: 2rem;
}
.donation-list-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-row {
  bottom: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: transparent;
}
.navigate-btn {
  position: relative;
  width: 45%;
  height: 2.5rem;
  background-color: #484063;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navigate-btn:hover {
  background-color: #5a507a;
}

.navigate-btn > h2 {
  font-size: 1.15rem;
  color: #e0e1e3;
  background-color: transparent;

  font-weight: lighter;
}
.continue-btn > h2 {
  margin-right: 0.75rem;
}
.back-btn > h2 {
  margin-left: 0.75rem;
  margin-right: 0;
}
.done-btn > h2 {
  margin-right: 0.5rem;
}
.continue-arrow {
  position: absolute;
  color: #e0e1e3;
  background-color: transparent;
  font-size: 1rem;
}
.right {
  right: 1rem;
}
.left {
  left: 1rem;
}
.right-done {
  right: 1.3rem;
}
.section-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.hidden {
  display: none;
}
form {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95%;
}
.link-tohome {
  text-decoration: none;
  width: 45%;
}
.done-btn {
  width: 100%;
}
@media (min-height: 640px) {
  .box-method {
    height: 8rem;
  }
  .donation-box > h3 {
    font-size: 1.25rem;
  }
  .nav-donation > li {
    height: 2rem;
    font-size: 1rem;
  }
}
