.homepage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
  flex-wrap: wrap;
}
.search-list-container {
  margin: 0 40px 0 40px;
}

.title {
  width: 100%;
}
.title h1 {
  flex-basis: 100%;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
  font-size: 2rem;
}
.span-A {
  color: #cc73ff;
}
.span-B {
  color: #6e2fff;
}
.selectedCoin-div {
  flex-basis: 100%;
}
@media (max-width: 800px) {
  .title h1 {
    font-size: 1.75rem;
    margin-bottom: 3.5rem;
    margin-top: 0rem;
  }
  .search-list-container {
    margin: 0 2.5% 0 2.5%;
  }
}
@media (max-width: 555px) {
  .search-list-container {
    margin-bottom: 1rem;
  }
}
