.coin-in-search-container {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 6px;
  padding: 0.5rem;
  background: #212436e0;
  display: flex;
  align-items: center;
  border: 1px solid #cfc3ff5e;
  cursor: default;
  /* To make all text unselectable */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
  -webkit-tap-highlight-color: transparent; /*android chrome*/
}

h4 {
  background: transparent;
  margin-right: 0.35rem;
  color: rgb(237, 223, 255);
}
.price {
  color: rgb(237, 223, 255);
}
span {
  color: #5306fc;
  background: transparent;
}
img {
  width: 1.4rem;
  height: 1.4rem;
  background-color: transparent;
  margin-right: 0.25rem;
  margin-left: 0.2em;
}
.fa-times {
  position: absolute;
  background: transparent;
  font-size: 1.7rem;
  cursor: pointer;
  right: 0.85rem;
  color: rgb(207, 195, 255);
}

@media (max-width: 800px) {
  h4 {
    font-size: 0.9rem;
  }
  img {
    width: 1.15rem;
    height: 1.15rem;
  }
  .fa-times {
    font-size: 1.4rem;
  }
}
