.selectedCoin-container-parent {
  display: flex;
  justify-content: center;
}
.selectedCoins-container {
  margin: 5rem 1rem 0 1rem;
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.market-cap-title {
  grid-column: 1/5;
  grid-row: 1/2;
  text-align: center;
  margin-bottom: 0.5rem;
}
.a-img {
  width: 4rem;
  height: 4rem;
}
.b-img {
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
  margin-right: 0.25rem;
}
.first-text-img {
  grid-column: 1/2;
  grid-row: 2/3;
}
.second-text-img {
  grid-column: 1/2;
  grid-row: 3/4;
}
.text-div {
  display: grid;
  grid-template-columns: auto auto 0.5rem auto;
  grid-template-rows: auto auto auto;
  margin-top: 3.5rem;
}
.first-text {
  grid-column: 2/3;
  grid-row: 2/3;
  align-items: center;
}
.second-text {
  grid-column: 2/3;
  grid-row: 3/4;
  align-items: center;
}
.first-mcap {
  grid-column: 4/5;
}
.second-mcap {
  grid-column: 4/5;
}

.coin-prices {
  font-size: 3rem;
  display: flex;
  align-items: center;
}
.img-price {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.percent {
  margin-left: 0.5rem;
  font-weight: lighter;
  font-size: 1.5rem;
}
.positive {
  color: #16c784;
}
.negative {
  color: #ea3943;
}
@media (max-width: 800px) {
  .coin-prices {
    font-size: 2.5rem;
  }
}
@media (max-width: 555px) {
  .selectedCoins-container {
    margin: 1.5rem 1rem 3rem 1rem;
  }
  .coin-prices {
    font-size: 2rem;
  }
  .percent {
    font-size: 1.25rem;
  }
  .market-cap-title {
  }
  .a-img {
    width: 3.25rem;
    height: 3.25rem;
  }
  .b-img {
    width: 1rem;
    height: 1rem;
  }
  .text-div h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
}
@media (max-width: 360px) {
  .text-div h2 {
    font-size: 1.25rem;
  }
}
