.swap {
  position: absolute;
  top: 13.5rem;
  cursor: pointer;
  /* To make all text unselectable */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
  -webkit-tap-highlight-color: transparent; /*android chrome*/
}
.icon {
  font-size: 2rem;
  color: #cfc3ff;
}

@media (max-width: 800px) {
  .swap {
    top: 9.3rem;
  }
}
@media (max-width: 572px) {
  @media (max-height: 531px) {
    .i-selected {
      transform: scaleX(0.8);
    }
    .s-selected {
      top: 15rem;
      margin-left: 16rem;
      transform: rotate(90deg);
    }
  }
}
@media (max-width: 555px) {
  .icon {
    transform: scaleX(0.8);
  }
  .swap {
    position: absolute;
    margin-left: 16rem;
    top: 13.5rem;
    transform: rotate(90deg);
  }
}
@media (max-width: 360px) {
  .swap {
    top: 13rem;
  }
}
